/.settings
/.project
/.buildpath
/notas
/nota
sessions/*
sme/proyectos/anexos/CF
sme/proyectos/datos/anexos
sme/proyectos/informes/anx_entregable/
sme/proyectos/anexos/tmp_import
sme/proyectos/informes/anx_mes
sme/proyectos/informes/anx_mes
sme/proyectos/poa/anx



